body {
    font-family: "Roboto", sans-serif; 
    font-size: 16px;
    background-color: var(--background-color)     
}

html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

:root{
    --white-color-button:#FFFFFF;
    --blue-color-button:#4D5AE5;
    --black-color-text:#2E2F42;
    --white-color-text:#FFFFFF;
    --background-color:#FFFFFF;
    --logo-web-color:#4D5AE5;
    --logo-link-color:#2E2F42;
    --text-color:#434455;
    --logo-footer-web: #F4F4FD;
    --button-service-color:#4D5AE5;
    --link-focus:#404BBF;
}

.container{
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    border-bottom: 1px solid #E7E9FC;
}

.logo-web{
color: var(--logo-web-color);
}

.logo-link{
font-family: Raleway;
font-size: 18px;
font-weight: 800;
line-height: 1.33;
letter-spacing: 0.03em;
text-decoration: none;
text-transform: uppercase;
color: var(--logo-link-color);
margin-right: 76px;
}

.navigation-list{
    list-style: none;
    display: flex; 
    align-items: center;
    gap: 40px;
}  

.header-navigation{
    display: flex; 
    align-items: center;
    margin-right: auto;
}

.navigation-container{
    display: flex; 
    align-items: center;
}

.navigation-item{
}

.link-navigation-item{
    text-decoration: none;
    color: var(--black-color-text);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.link-navigation-item:hover,
.link-navigation-item:focus{
    color: var(--link-focus);
}

.link-navigation-item:active{
text-decoration: underline  #404BBF;
}


.address-list{
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 40px;
} 

.address-container{
    display: flex;
    align-items: center;
}

.address-item {

}

.link-address-item{
    text-decoration: none;
    color: var(--black-color-text);
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.link-address-item:hover,
.link-address-item:focus{
    color: var(--link-focus);
    text-decoration:none    
}

.features-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 120px;
    margin-bottom: 8px;
}

.features-text{
    width: 264px;
    height: 72px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.section-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    margin-top: 120px;
}

.features-title-container{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 24px;   
    margin-left: 0px;
}


.hero-title{
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color:var(--white-color-text);
}

.hero-section{
    background: #2E2F42;
    padding: 188px;
}

.features-section{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 24px;   
    margin-left: 0px;
}

.button-service{
display: flex;
padding: 16px 32px;
background: var(--button-service-color);
margin-left: auto;
margin-right: auto;
border: 0px;
border-radius: 4px;
}

.button-service:hover,
.button-service:focus{
background: #404BBF;
}

.button-service-text{
    color: var(--white-color-button);
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;   
    padding-left: 0px;
}

.list-button-item{
list-style-type: none;
}

.button-item {
cursor: pointer;
height: 48px;
width: 116px;
left: 93px;
border-radius: 4px;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
padding: 12px 24px 12px 24px;
background-color: #F4F4FD;
color: var(--blue-color-button);
}

.button-item:hover,
.button-item:focus{ 
background-color: #404BBF;
color: var(--white-color-text);
}


.images-project-container{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-left: 0px;
}

.images-item{
    list-style-type: none; 
    width: 360px;
    height: 420px;
    border: 1px solid #E7E9FC;
    }
    
    
.project-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-left: 16px;
    color: var(--black-color-text);
    }
    
.project-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-left: 16px;
    color: var(--black-color-text);
    }
    
.list-images-container{
    list-style-type: none; 
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-left: 0px;
    margin-bottom: 120px;
    margin-top: 0px;
}
    
.images-team-container{
width: 264px;
height: 380px;
background: #FFFFFF;
}
    
.team-name{
    margin-top: 32px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: var(--black-color-text);
}
    
.team-profession{
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.5;    
    color: var(--black-color-text);
}
    
.footer-container{
    display: flex;
    flex-direction:column;
}
    
.footer{
    width: auto;
    height: 310px;
    background: #2E2F42;
    }
    
.logo-footer-link{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--logo-footer-web);
    padding-top: 100px;
    margin-left: 156px;
    }
    
.logo-footer-web{
    color:  var(--logo-web-color);
    padding-top: 100px;
    }
    
.footer-text{
    width: 264px;
    height: 72px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color-text);
    margin-left: 156px;
}